<%= form_with model: person do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <% person.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <br>
  </div>

  <div>

    <%= form.label :contact %><br>
    Phone Number ex. 2225557890<br>
    <%= form.text_field :contact %><br>
    <% person.errors.full_messages_for(:contact).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <br>
  </div>

  <div>
    <%= form.label :team_id %><br>

    <% #id_array = [["Management", "7"], ["Development", "4"], ["USO", "2"]] %>
    <% id_array = Array.new %>
    <% for t in Team.all do %>
    <% id_array.push([t.team, t.id]) %>
    <% end %>


    <%= form.select :team_id, id_array %>
    <% person.errors.full_messages_for(:team_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<br>
  <div>
    Are they a manager?<br>
    <%= form.select :ismanagement, [["Yes", "true"], ["No", "false"]] %>
    <% person.errors.full_messages_for(:ismanagement).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
