<%= form_with model: person do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <% person.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <br>
  </div>

  <div>

    <%= form.label :contact %><br>
    Phone Number ex. 2225557890<br>
    <%= form.text_field :contact %><br>
    <% person.errors.full_messages_for(:contact).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <br>
  </div>

  <div>
    <%= form.label :team_id %><br>
    <%= form.collection_select :teams, @teams.each do |team| %>
    <% end %>
    <%# <%= form.text_area :team_id %> %>
    <% person.errors.full_messages_for(:team_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :manager %><br>
    <%= form.text_area :manager %>
    <% person.errors.full_messages_for(:manager).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ismanagement %><br>
    <%= form.text_area :ismanagement %>
    <% person.errors.full_messages_for(:ismanagement).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
