<h1><%= @person.name %></h1>




<p>Contact: <%= number_to_phone(@person.contact) %></p>
<p>Team: <%= @person.team.team %></p>

<div>
<%= @person.ismanagement ? "Manages" : "" %>
<% if @person.ismanagement %>
  <% Team.where(manager: @person.id).each do |team| %>
    : <%= team.team %>
  <% end %>
<% end %>
</div>

<p>Manager: <%= link_to @manager.name, @manager %></p>

<br>
<p><%= link_to "Back to Directory", teams_path %>  |

  <% if @person.ismanagement %>
    <% Team.where(manager: @person.id).each do |team| %>
      <% message = "Back to " + team.team %>
      <%= link_to message, team %> |
    <% end %>
  <% else %>
    <%= link_to "Back to Team", @person.team %> |
  <% end %>

  <%= link_to "Edit", edit_person_path(@person) %>  |  <%= link_to "Delete", person_path(@person), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>  </p>
