<h1><%= @person.name %></h1>

<p>Contact: <%= number_to_phone(@person.contact) %></p>
<p>Team: <%= @person.team.team %></p>

<div>
<%= @person.ismanagement ? "Manages" : "" %>
<% if @person.ismanagement %>
  <% Team.where(manager: @person.id).each do |team| %>
    : <%= team.team %>
  <% end %>
<% end %>
</div>

<p>Manager: <%= Person.find(@person.team.manager).name %></p>

<br>
<p><%= link_to "Back to Directory", people_path %>  |  <%= link_to "Edit", edit_person_path(@person) %>  |  <%= link_to "Delete", person_path(@person), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %></p>
