<h1><%= @person.name %></h1>
<% #@person.convertPhone(@person.contact) %>
<p>Contact: <%= number_to_phone(@person.contact, area_code: true) %></p>
<p>Team: <%= @person.department %></p>
<p>Manager: <%= @person.manager %></p>
<br>
<p><%= link_to "Back to Directory", people_path %>  |  <%= link_to "Edit", edit_person_path(@person) %>  |  <%= link_to "Delete", person_path(@person), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %></p>
